html {
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: 1px solid black; */
}

body {
    font-family: "HelveticaNeueCyr", "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    color: var(--gray);
    background-color: var(--white);
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
form,
fieldset,
figure {
    margin: 0;
}

.title {
    font-family: "Comfortaa";
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
}

.title-orange {
    color: var(--orange);
}

.section:not(:last-child) {
    padding-bottom: 45px;
}

.section:not(:first-child) {
    padding-top: 45px;
}

.section:last-child {
    padding-bottom: 102px;
}

.btn {
    position: relative;
    width: 180px;
    text-transform: uppercase;
    color: var(--orange);
    z-index: 10;
}

.btn__text {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 550;
    margin: 0 auto;
}

.btn__img {
    width: 100.98px;
    height: 86.83px;
    transition: 0.3s ease-in-out;
}

.btn__img:hover {
    -webkit-filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
}

.link {
    display: flex;
    gap: 19px;
    align-items: center;
    line-height: 26px;
    font-weight: 550;
    color: var(--orange);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

@media (max-width: 1024px) {
    .container {
        max-width: 920px;
    }

    .title {
        font-size: 44px;
        line-height: 54px;
    }

    .btn {
        width: 148px;
    }

    .btn__text {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }

    .btn__img {
        max-width: 75.51px;
        height: 64.48px;
    }

    .section:not(:last-child) {
        padding-bottom: 35px;
    }
    
    .section:not(:first-child) {
        padding-top: 35px;
    }

    .link {
        gap: 9px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
    }
}

@media (max-width: 930px) {
    .link {
        gap: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }

    .title {
        font-size: 30px;
        line-height: 34px;
    }

    .section:not(:last-child) {
        padding-bottom: 30px;
    }
    
    .section:not(:first-child) {
        padding-top: 30px;
    }

    .section:last-child {
        padding-bottom: 60px;
    }

    .btn {
        padding-left: 60px;
        width: 215px;
    }
}

@media (max-width: 550px) {
    .btn {
        order: 1;
        padding-left: 0;
        align-self: center;
        width: 84px;
    }

    .btn__text {
        font-size: 8px;
        line-height: 12px;
    }

    .btn__img {
        width: 46.4px;
        height: 40.3px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }

    .section:not(:last-child) {
        padding-bottom: 20px;
    }
    
    .section:not(:first-child) {
        padding-top: 20px;
    }
}
