.form-block {
    padding: 20px;
    position: fixed;
    inset: 0;
    cursor: pointer;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: 100;
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.form-block__container {
    position: relative;
    max-width: 780px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 100px;
    background-color: var(--background);
    cursor: default;
    font-size: 20px;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

.form-block__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.form-block__subtitle {
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-block__subtitle-orange {
    color: var(--orange);
    font-weight: 500;
}

.contacts {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.item-cont {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 14px;
}

.icon-cont {
    color: var(--orange);
}

.form-block__subtitle_fieldset {
    margin-bottom: 15px;
    color: var(--gray);
}

.form__fieldset {
    display: flex;
    gap: 20px;
    border: 0;
    max-width: 280px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 34px;
    color: var(--gray);
}

.form__input {
    display: block;
    width: 280px;
    height: 40px;
    background-color: var(--white);
    border: 0;
}

.form__label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form__label-text {
    font-size: 12px;
    line-height: 14px;
    text-align: start;
}

.form__button {
    width: 220px;
    height: 40px;
    background-color: var(--gray);
    color: var(--orange);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.form-block-btn {
    display: block;
    min-width: 80px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-left: auto;
    color: var(--orange);
}

.btn__img_form {
    width: 66.41px;
    height: 57.6px;
    transition: 0.3s ease-in-out;
}

.btn__img:hover {
    -webkit-filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
}

.btn__text {
    display: block;
}

.form-block__close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20px;
    right: 25px;
    color: #282626;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form-block__close:hover,
.form-block__close:focus {
    color: #5b5656;
}

@media (max-width: 1024px) {
    .form-block__container {
        max-width: 680px;
        padding: 50px 93px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 18px;
    }

    .form-block__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-block__subtitle-wrapper {
        display: flex;
    }

    .form-block__subtitle {
        width: 396px;
    }

    .contacts {
        margin-bottom: 40px;
        gap: 34px;
    }

    .item-cont {
        gap: 9px;
    }

    .form-block__subtitle_fieldset {
        margin-bottom: 20px;
        width: 480px;
    }

    .form__fieldset {
        max-width: 200px;
        margin-bottom: 19px;
    }

    .form__input {
        width: 200px;
        height: 35px;
    }

    .form__label-text {
        font-size: 8px;
        line-height: 10px;
    }
}

@media (max-width: 768px) {
    .form-block__container {
        max-width: 540px;
        padding: 40px 60px;
        font-size: 14px;
        line-height: 20px;
    }

    .form-block__title {
        font-size: 18px;
        line-height: 24px;
    }

    .form-block__subtitle {
        width: 300px;
    }

    .contacts {
        margin-bottom: 30px;
    }

    .form-block__subtitle_fieldset {
        width: 380px;
    }

    .form__fieldset {
        margin-bottom: 20px;
    }
}

@media (max-width: 485px) {
    .form-block__container {
        max-width: 270px;
        padding: 30px 29px;
    }

    .form-block__title {
        font-size: 16px;
        line-height: 22px;
    }

    .form-block__subtitle {
        width: 212px;
    }

    .contacts {
        flex-direction: column;
        gap: 10px;
    }

    .form-block__subtitle_fieldset {
        width: 212px;
        margin-bottom: 12px;
    }

    .form__fieldset {
        flex-direction: column;
        gap: 14px;
    }

    .form-block-btn {
        margin: 0 auto;
    }

    .form-block__close {
        width: 18px;
        height: 18px;
        top: 14px;
        right: 14px;
    }
}
