.list__item {
    list-style: none;
}

.list__item:not(:last-child) {
    margin-bottom: 70px;
}

.list__description {
    white-space: pre-wrap;
}

.list__description:not(:last-child) {
    margin-bottom: 5px;
}

.list__description_title:before {
    font-family: "Comfortaa";
    content: counter(my-counter);
    counter-increment: my-counter;
    color: #ff8a00;
    font-size: 45px;
    font-weight: 300;
    font-style: normal;
    margin-right: 45px;
}

.list__description_title:first-line {
    font-size: 30px;
    font-weight: 500;
    line-height: 80px;
}
